.upcoming-movies-heading {
  background-color: #ff9999;
  height: 22px;
  text-align: center;
  width: 100%;
  padding: 8px;
}

ul.upcoming-movies {
  flex-wrap: nowrap;
  margin: 0px !important;
  width: 100%;
}

.main-container {
  display: flex;
}

.releasedMoviesSection {
  display: flex;
  width: 76%;
  margin: 16px;
}

.filterSection {
  width: 24%;
  margin: 16px;
}

.releasedMoviePoster {
  cursor: pointer;
}
